
/* 1. A la etiqueta de "html", aplicale un relleno de 15% a ambos lados utilizando "padding-left" y "padding-right" (ambos 15%, no 7,5% cada uno). Junto a eso añadele un color de fondo de "#7b9969" y texto de color blanco. */
html {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #7b9969;
    color: white;
}

/* 2. A la etiqueta de "img" añadele un "width" de 100%. */
img {
    width: 100%;
}

/* 3. A la etiqueta de "h1" añadele un "font-size" de 60px y haz que el texto este centrado. */
h1 {
    font-size: 60px;
    text-align: center;
}

/* 4. A la etiqueta de "p" añadele un "font-size" de 25px. */  
p {
    font-size: 25px;
}

/* 5. A la etiqueta de "h2" añadele un "font-size de 40px. */
h2 {
    font-size: 40px;
}

/* 6. A la etiqueta de "strong" añadele el color negro al texto. */
strong {
    color: black;
}

/* 7. A la etiqueta de "a" añadele un "text-decoration: none" para que el texto no este subrayado. */
a {
    text-decoration: none;
}

/* 8. A la clase de "titulo" añadele un "text-decoration: underline" para subrayar los titulos.
 */
.titulo {
    text-decoration: underline;
}

/* 9. A la clase de "enlaces" añadele un color de fondo blanco y un color de texto negro. */
.enlaces {
    background-color: white;
    color: black;
}

/* 10. A la clase de "fecha" añadele como color de texto el rgb(112, 5, 5). */ 
.fecha {
    color: rgb(112, 5, 5);
}
  